<h2>******** Now your result ********</h2>
<%="Your answer is: #{@attempt} "%>
<br>
<%="Time = #{@result[:time]}"%>
<br>
<%="Translation = #{@result[:translation]}"%>
<br>
<%="Score = #{@result[:score]}"%>
<br>
<%="Message = #{@result[:message]}"%>


